@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Black.eot');
    src: url('fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Black.woff2') format('woff2'),
        url('fonts/Gilroy-Black.woff') format('woff'),
        url('fonts/Gilroy-Black.ttf') format('truetype'),
        url('fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.eot');
    src: url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype'),
        url('fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #FDFDFD;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Gilroy';
    font-weight: 900;
    font-size: 200px;
    line-height: 28px;
    color: rgba(220, 230, 235, .5);
}

h2 {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    color: #292A2E;
}

h3 {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 30px;
    line-height: 42x;
    color: #292A2E;
}

h4 {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

p {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

li {
    list-style: none;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    max-width: 1514px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 75px 20px 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header_site:before {
    display: block;
    content: "";
    height: 7px;
    width: 100%;
    background: linear-gradient(90deg, #F3CEEF 0%, #A79EEF 43.84%, #5EB3E2 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.header_site > .left {
    width: 280px;
    padding: 0 10px 0 0;
}

.header_site > .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: calc(100% - 280px);
    padding: 0 0 0 10px;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.logo img {
    margin-right: 15px;
}

.logo p {
    font-size: 21px;
    line-height: 28px;
    color: #71727A;
}

.resp_nav {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 37px 5px 0;
}

.resp_nav li {
    padding: 0 25px;
}

.resp_nav li a {
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 28px;
    color: #71727A;
}

.resp_nav li a:hover {
    color: #977AD2;
}

.inlines {
    display: flex;    
    align-items: center;
    margin: 0 -9px;
}

.inlines > div {
    padding: 0 9px;
}

.pink_box {
    display: inline-flex;
}

.pink_box > div:nth-child(1) {
    width: calc(100% - 58px);
}

.pink_box > div:nth-child(2) {
    width: 58px;
}

.mail_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 57px;
    border: 1px solid #AA7AD2;
}

.pink_link {
    display: inline-flex;
    align-items: center;
    height: 57px;
    padding: 5px 22px;
    background: linear-gradient(180deg, #C47FFA 0%, #BE7EF1 23%, #AA7AD2 100%), #AA7AD2;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #FDFDFD;
}

.tel_link {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    line-height: 28px;
    color: #71727A;
}

.resbtn_wrapp {
    padding: 14px 0 0 110px;
}

.respBtn {
    width: 37px;
    height: 37px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.promo {
    padding: 311px 0 10px 0;
    position: relative;
    background-image: url(img/promo_bg.png);
    background-size: cover;
    background-position: center;
}

.promo > .row {
    position: relative;
    z-index: 2;
}

.promo_h1 {
    width: 100%;
    position: absolute;
    top: 257px;
    left: 0;
    text-align: center;
}

.h1_descript {
    text-align: center;
}

.h1_descript p {
    padding-bottom: 10px;
    font-size: 21px;
    line-height: 28px;
}

.promo_thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 77px 65px 30px 65px;
}

.promo_thumb {
    width: calc(33.33% - 20px);
    height: 459px;
/*    max-width: 574px;*/
    margin: 10px;
    border-radius: 0 116px 0 0;
    overflow: hidden;
}

.promo_thumb:nth-child(2) {
    position: relative;
    top: -63px;
}

.promo_thumb img {
    height: 459px;
    object-fit: cover;
    object-position: center;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2_mp {
    padding: 88px 0 10px 0;
}

.article {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 29px;
}

.article > div:nth-child(1) {
    width: 50%;
    padding: 10px 10px 10px 0;
}

.article > div:nth-child(2) {
    width: 50%;
    padding: 10px 0 10px 10px;
}

.article h2 {
    font-size: 81px;
    line-height: 73px;
}

.article h2 span {
    font-size: 49px;
    color: #71727A;
}

.article > div:nth-child(2) p {
    padding-bottom: 40px;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

.article > div:nth-child(2) p a {
    font-size: 30px;
    line-height: 42px;
    color: #977AD2;
}

.tags_wrapp {
    padding: 20px 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 5px 0;
}

.tags li {
    width: calc(16.66% - 20px);
    margin: 10px;
}

.tags li a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 78px;
    padding: 5px 7px;
    border: 1px solid #D5D1D1;
    font-size: 21px;
    line-height: 24px;
    color: #71727A;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3_mp {
    padding: 94px 0 10px 0;
}

.tabs_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding: 24px 0 0 0;
}

.tabs_list li {
    padding: 10px 25px;
}

.tab_link {
    font-size: 24px;
    line-height: 42px;
    color: #71727A;
    cursor: pointer;
    position: relative;
}

.tab_link:before {
    display: block;
    content: "";
    height: 12px;
    width: 0;
    background: #AA7AD2;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: .6;
}

.tab_link:hover:before {
    width: 72%;
}

.tab_link.active {
    color: #292A2E;
}

.tab_link.active:before {
    width: 72%;
}

.tab_link span {
    position: relative;
    z-index: 2;
}

.tabs {
    position: relative;
}

.tab_radio {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.tab {
    position: absolute;
    top: 0;
    left: -999999999px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tab_radio:checked + .tab {
    height: auto;
    overflow: none;
    opacity: 1;
    position: relative;
    left: 0;
}

.gallery_templ {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
    padding: 22px 0;
}

.gallery_templ > div:nth-child(1) {
    width: 33.33%;
    padding: 2px;
}

.gallery_templ > div:nth-child(2) {
    width: 33.33%;
    padding: 2px;
}

.gallery_templ > div:nth-child(3) {
    width: 33.33%;
    padding: 2px;
}

.gall_thumb {
    display: block;
    margin: 2px 0;
}

.gall_thumb img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.button_wrapp {
    padding: 23px 0 20px 0;
    text-align: center;
}

.more_link {
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    line-height: 42px;
    color: #71727A;
}

.more_link svg {
    margin-left: 15px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_mp {
    padding: 94px 0 109px 0;
}

.article_2 {
    display: flex;
    flex-wrap: wrap;
}

.article_2 > div:nth-child(1) {
    width: 50%;
    padding: 10px 10px 10px 0;
}

.article_2 > div:nth-child(2) {
    width: 50%;
    padding: 21px 0 10px 134px;
}

.img_box_3 {
    position: relative;
    padding: 20px 125px 80px 20px;
}

.img_box_3_outside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img_box_3_outside img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article_2 > div:nth-child(2) h3 {
    padding: 30px 0 8px 0;
    font-size: 30px;
    line-height: 42px;
    color: #292A2E;
}

.article_2 > div:nth-child(2) p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.article_2 > div:nth-child(2) h3:nth-child(1) {
    padding-top: 0;
}

.link_wrapp {
    padding: 103px 0 0 0;
}

.pink_link_2 {
    display: inline-block;
    vertical-align: top;
    padding-left: 22px;
    font-size: 30px;
    line-height: 42px;
    color: #484B51; 
    position: relative;
}

.pink_link_2 span {
    position: relative;
    z-index: 2;
}

.pink_link_2:before {
    display: block;
    height: 18px;
    width: 73%;
    content: "";
    background: rgba(170, 122, 210, .6);
    position: absolute;
    bottom: 0;
    left: 0;
}

.img_box_3_outside {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 50vw;
    height: 100%;
    border-radius: 0 170px 0 0;
    overflow: hidden;
}

.img_box_3_outside img {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 100%;
    height: 100%;
}

.img_box_3_content {
    padding: 65px 0 0 0;
    position: relative;
    z-index: 2;
}

.img_box_3_content h3 {
    padding-bottom: 37px;
    font-weight: 400;
    font-size: 52px;
    line-height: 42px;
    color: #FFF;
}

.img_box_inner {
    position: relative;
    border-radius: 0 95px 0 0;
    overflow: hidden;
    padding: 105px 50px 130px 35px;
}

.img_box_inner img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img_box_inner > div {
    position: relative;
    z-index: 2;
}

.img_box_inner p {
    font-size: 30px;
    line-height: 42px;
    color: #FFF;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
    padding: 22px 0 20px 0;
}

.item {
    display: flex;
    width: calc(33.33% - 70px);
    margin: 18px 35px;
}

.item > div:nth-child(1) {
    width: 32px;
    padding-top: 3px;
}

.item > div:nth-child(2) {
    width: calc(100% - 32px);
}

.item > div:nth-child(1) p {
    font-size: 30px;
    line-height: 34px;
    color: #977AD2;
}

.item > div:nth-child(2) p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;  
}

.item > div:nth-child(2) p a {
    font-size: 21px;
    line-height: 34px;
    color: #977AD2;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Pag --*/

.pink_line {
    position: relative;
    overflow: hidden;
    margin: 30px 0 90px 0;
    padding: 47px 0 52px 0;
}

.pink_line:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #C47FFA 0%, #BE7EF1 23%, #AA7AD2 100%), #8775A7;
    opacity: .95;
}

.pink_line ul {
    display: flex;
    position: relative;
    z-index: 2;
/*    margin: 0 -30px;*/
}

.pink_line ul li {
    padding: 40px 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 34px;
    color: #FDFDFD;
}

/*-- /Section 6 - Main Pag --*/

/*-- Section 7 - Main Page --*/

.faq_item {
    border-bottom: 1px solid #D5D1D1;
}

.faq_item_title {
    padding: 30px 120px 40px 0;
    position: relative;
    cursor: pointer;
}

.faq_item_title svg {
    position: absolute;
    top: calc(50% - 20px);
    right: 70px;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.faq_item.active .faq_item_title svg {
    transform: rotate(45deg);
}

.faq_item.active .faq_item_title svg rect {
    stroke: #977AD2;
}

.dr_parent.active .dr_content {
    display: block;
}

.faq_item_content {
    margin-top: -22px;
    padding: 0 24% 57px 8%;
}

.faq_item_title h3 {
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.dr_parent.active .faq_item_title h3 {
    color: #977AD2;
}

.faq_item_content p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.faq_item_content p + p {
    padding-top: 13px;
}

.faq_item_content p span {
    color: #292A2E;
}

.faq_item_content ul {
    padding-left: 24px;
}

.faq_item_content ul li {
    list-style: decimal;
    padding: 12px 0 12px 0;
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.callback_two_cols {
    display: flex;
    flex-wrap: wrap;
    padding: 170px 0 53px 0;
}

.callback_two_cols > div:nth-child(1) {
    display: flex;
    width: calc(100% - 618px);
    padding: 5px 130px 10px 0;
}

.callback_two_cols > div:nth-child(2) {
    width: 618px;
}

.callback_content {
    display: flex;
    flex-direction: column;
}

.callback_header {
    height: 100%;
    flex: 1;
}

.callback_header h3 {
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

.callback_header h2 span {
    font-size: 49px;
    color: #71727A;
}

.formn_templ {
    display: flex;
    padding-bottom: 12px;
}

.formn_templ > div:nth-child(1) {
    width: calc(100% - 160px);
}

.formn_templ > div:nth-child(2) {
    width: 160px;
    text-align: right;
}

.formn_templ > div:nth-child(1) p {
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
    opacity: .5;
}

.formn_templ > div:nth-child(1) p a {
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

.formn_templ > div:nth-child(1) p a:hover {
    color: #977AD2;
    opacity: 1;
}

.subBtn {
    border: none;
    background: transparent;
    font-size: 30px;
    line-height: 42px;
    color: #977AD2;
    cursor: pointer;
}

.contacts_inline {
    display: flex;
    justify-content: flex-end;
    margin: 0 -45px;
    position: relative;
}

.contacts_inline:before {
    display: block;
    content: "";
    width: calc(100% - 90px);
    height: 1px;
    background: #977AD2;
    position: absolute;
    top: 0;
    left: 45px;
}

.contacts_inline > div {
    padding: 8px 45px 0 8px;
}

.callback_img {
    border-radius: 90px 0 0 0;
    overflow: hidden;
}

.callback_img img {
    height: 618px;
    object-fit: cover;
    object-position: center;
}

.icon_link {
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    line-height: 42px;
    color: #71727A;
}

.icon_link img {
    margin-right: 10px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 1 - Question Page --*/

.promo_h1_2 {
    padding: 0 0 0 4%;
    position: absolute;
    top: -45px;
    left: 0;
}

.promo .article {
    padding: 0 0 52px 0;
    position: relative;
    z-index: 2;
}

/*-- /Section 1 - Question Page --*/

/*-- Section 1 - Services Page --*/

.tags_article {
    padding: 64px 0 66px 0;
}

.tags_article p {
    padding: 12px 0;
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.tags_article p.big {
    font-size: 30px;
    line-height: 42px;
}

/*-- /Section 1 - Services Page --*/

/*-- Section 1 - Contacts Page --*/

.contacts_sect {
    background-image: url(img/promo_bg.png);
}

.callback_two_cols_2 {
    margin-bottom: -10px;
    padding-bottom: 0;
    padding-top: 211px;
}

.callback_two_cols_2 > div:nth-child(1) {
    padding: 23px 130px 73px 0;
}

.contacts_box {
    max-width: 598px;
    border-width: 30px 30px 0 30px;
    border-style: solid;
    border-color: #EBF0F4;
    border-radius: 90px 90px 0 0;
    padding: 55px 35px 11px 35px;
}

.contacts_box h3 {
    padding: 20px 0 63px 0;
    font-size: 52px;
    line-height: 42px;
    color: #977AD2;
}

.contacts_item {
    padding: 13px 0 45px 0;
}

.contacts_item h4 {
    padding-bottom: 5px;
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.contacts_item ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.contacts_item ul li {
    padding: 0 25px;
}

.contacts_item ul.list_1 {
    margin: 0 -7px;
}

.contacts_item ul.list_1 li {
    padding: 0 7px;
}

.contacts_item ul li a {
    font-size: 30px;
    line-height: 34px;
    color: #71727A;
}

.contacts_item ul.list_2 {
    padding: 8px 0;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 1 - About Page --*/

.about_promo_wrapp {
    position: relative;
}

.about_promo_img {
    width: 100%;
    max-width: 617px;
    height: 618px;
    border-radius: 95px 0 0 0;
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translate(-50%);
    overflow: hidden;
}

.about_promo_img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.about_promo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    min-height: 700px;
}

.about_promo > div:nth-child(1) {
    width: 50%;
}

.about_promo > div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 198px;
}

.about_promo > div:nth-child(1) > div {
    max-width: 610px;
    width: 100%;
}

.about_promo > div:nth-child(2) > div {
    max-width: 440px;
    width: 100%;
}

.about_promo h3 {
    padding-bottom: 22px;
    font-size: 52px;
    line-height: 64px;
    color: #71727A;
}

.about_promo p {
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

.about_promo p a {
    font-size: 30px;
    line-height: 42px;
    color: #977AD2;
}

.about_promo_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 125px 0;
}

.about_promo_2 > div:nth-child(1) {
    width: 50%;
}

.about_promo_2 > div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.about_promo_2 > div:nth-child(1) > div {
    width: 100%;
    max-width: 598px;
}

.about_promo_2 > div:nth-child(2) > div {
    width: 100%;
    max-width: 550px;
}

.about_promo_2 p {
    font-size: 30px;
    line-height: 42px;
    color: #71727A;
}

.about_promo_2 p a {
    font-size: 30px;
    line-height: 42px;
    color: #977AD2;
}

/*-- /Section 1 - About Page --*/

/*-- Section 2 - About Page --*/

.h2_wrapp {
    max-width: 761px;
}

.h2_wrapp span {
    font-size: 49px;
    color: #71727A;
}

.ab_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
    padding: 31px 0 20px 0;
}

.ab_thumb {
    width: calc(33.33% - 80px);
    margin: 30px 40px;
}

.ab_thumb h3 {
    display: block;
    padding-bottom: 25px;
    min-height: 69px;
    font-size: 30px;
    line-height: 42px;
    color: #292A2E;
}

.ab_thumb p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

/*-- /Section 2 - About Page --*/

/*-- Section 3 - About Page --*/

.promo_2 {
    margin: 72px 0 135px 0;
    background-image: url(img/promo_2_bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.promo_2_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 520px;
    align-items: center;
}

.promo_2_article > div:nth-child(1) {
    width: 50%;
    max-width: 425px;
}

.promo_2_article > div:nth-child(2) {
    width: 50%;
    max-width: 390px;
}

.promo_2_article > div:nth-child(1) p {
    font-size: 52px;
    line-height: 74px;
    color: #FFF;
}

.promo_2_article > div:nth-child(2) p {
    font-size: 30px;
    line-height: 42px;
    color: #FFF;
}

.promo_2_img {
    width: 632px;
    height: calc(100% + 60px);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    z-index: 2;
}

.promo_2_img img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.promo_2_h2 {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

/*-- /Section 3 - About Page --*/

/*-- Section 4 - About Page --*/

.sect_4_ab {

}

/*-- /Section 4 - About Page --*/

/*-- Section 5 - About Page --*/

.sect_5_ab {
    padding-top: 131px;
}

.about_article {
    padding: 33px 0 0 0;
}

.about_article h3 {
    padding: 10px 0;
    font-size: 30px;
    line-height: 42px;
    color: #000;
}

.about_article p {
    padding: 10px 0 29px 0;
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.about_article ul {
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 45px);
    margin: 0 20px;
}

.about_article p + ul {
    margin-left: 0;
}

.about_article ul li {
    margin: 22px 0;
    padding-left: 30px;
    position: relative;
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.about_article ul li:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background: #A4A5A9;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    left: 0;
}

.about_article ul + h3 {
    padding-top: 57px;
}

.sect_5_ab + .sect_8_mp .callback_two_cols {
    padding-top: 131px
}

/*-- /Section 5 - About Page --*/

/*-- Section 1 - Logo Page --*/

.logo_article {

}

.logo_article > div:nth-child(1) > div {
    max-width: 590px;
}

.logo_article > div:nth-child(2) > div {
    max-width: 600px;
}

.logotypes_articles {

}

.logotypes_articles_title {

}

.logotypes_articles_title h3 {
    font-size: 30px;
    line-height: 65px;
    color: #292A2E;
}

.logotype_article {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 0 41px 0;
}

.logotype_article:last-child {
    padding-bottom: 26px;
    border-bottom: none;
}

.logotype_article:nth-child(1) {
    padding-top: 0;
}

.logotype_article:nth-child(1) > div:nth-child(1) h3 {
    padding-top: 3px;
}

.logotype_article > div:nth-child(1) {
    width: 50%;
    padding: 10px 40px 10px 0;
}

.logotype_article > div:nth-child(2) {
    width: 50%;
    padding: 10px 0 10px 10px;
}

.logotype_article > div:nth-child(1) h3 {
    padding: 20px 0 14px 0;
    font-size: 30px;
    line-height: 120%;
    color: #977AD2;
}

.logotype_article > div:nth-child(1) p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.logotype_article_2 {
    padding: 47px 0 13px 0;
}

.logotype_article_2 h3 {
    padding-bottom: 14px;
    font-size: 30px;
    line-height: 120%;
    color: #977AD2;
}

.logotype_article_two_cols {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D9D9D9;
}

.logotype_article_two_cols > div:nth-child(odd) {
    width: 50%;
    padding: 10px 10px 10px 0;
}

.logotype_article_two_cols > div:nth-child(even) {
    width: 50%;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.logotype_article_two_cols > div:nth-child(odd) > div {
    max-width: 600px;
}

.logotype_article_two_cols > div:nth-child(even) > div {
    max-width: 600px;
}

.logotype_article_two_cols h4 {
    font-size: 21px;
    line-height: 34px;
    color: #292A2E;
}

.logotype_article_two_cols p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A;
}

.logotype_article_two_cols .logos_inline {
    padding: 32px 0 20px 0;
    justify-content: center;
}

.logos_inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -25px;
}

.logos_inline > div {
    padding: 10px 25px;
}

/*-- /Section 1 - Logo Page --*/

/*-- Section 2 - Logo Page --*/

.sect_2_lp {

}

.sect_2_lp .article {
    padding-bottom: 5px;
}

.lp_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
    padding: 0;
}

.lp_thumb {
    width: calc(33.33% - 70px);
    margin: 18px 35px;
    padding-left: 30px;
    background-image: url(img/checked.svg);
    background-position: left 9px;
    background-repeat: no-repeat;
}

.lp_thumb p {
    font-size: 21px;
    line-height: 34px;
    color: #71727A; 
}

/*-- /Section 2 - Logo Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {

}

.footer_section {
    background: #54575D;
}

.footer_templ {
    display: flex;
    flex-wrap: wrap;
    padding: 39px 0 23px 0;
}

.footer_templ > div:nth-child(1) {
    padding: 10px 5px 10px 0;
    width: 33%;
}

.footer_templ > div:nth-child(2) {
    padding: 10px 5px 10px 5px;
    width: 49%;
}

.footer_templ > div:nth-child(3) {
    padding: 10px 0 10px 5px;
    width: 18%;
}

.logo_footer {
    display: inline-flex;
    align-items: center;
    max-width: 310px;
    margin-top: 10px;
}

.logo_footer img {
    margin-right: 15px;
}

.logo_footer p {
    font-size: 21px;
    line-height: 28px;
    color: #D5D1D1;
}

.navs_inline {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.navs_inline > div {
    width: 50%;
    padding: 10px 10px;
}

.footer_nav li {
    padding: 9px 0;
    line-height: 1;
}

.footer_nav li a {
    font-size: 21px;
    line-height: 24px;
    color: #D5D1D1;
}

.footer_templ .pink_box {
    margin: 16px 0 39px 0;
}

.link_2 {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 28px;
    color: #D5D1D1;
    border-bottom: 1px solid #8C8C8C;
}

.footer_bottom {
    background: #484B51;
}

.footer_bottom_templ {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 0 27px 0;
}

.footer_bottom_templ> div:nth-child(1) {
    padding: 10px 5px 10px 0;
    width: 33%;
}

.footer_bottom_templ> div:nth-child(2) {
    width: 67%;
    padding: 10px 0 10px 5px;
}

.footer_bottom_templ> div:nth-child(1) p {
    padding: 2px 0;
    font-size: 21px;
    line-height: 28px;
    color: #D5D1D1;
}

.footer_inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 -45px;
}

.footer_inline > div {
    padding: 0 45px;
}

.tel_link_2 {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    line-height: 30px;
    color: #D5D1D1;
}

.footer_inline .tel_link_2 {
    margin: 2px 0;
}

.soc_list {
    display: flex;
    justify-content: flex-end;
    margin: 0 -15px;
}

.soc_list li {
    padding: 0 15px;
    line-height: 1;
}

.soc_list li a {
    font-size: 21px;
    line-height: 26px;
    color: #D5D1D1;
}
