@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto-Bold.ttf') format('truetype'),
        url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #F5F6F7;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #262728;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #262728;
}

h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #262728;
}

h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

li {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #262728;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    padding: 0 16px;
}

.row_2 {
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
    padding: 0 16px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.visible_1240 {
    display: none;
}

.visible_900 {
    display: none;
}

.visible_700 {
    display: none;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

#headerSite {
    background: #fff;
}

.header_templ {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 19px 0;
}

.header_templ > div:nth-child(1) {
    width: 22%;
    padding: 15px 0 7px 0;
}

.header_templ > div:nth-child(2) {
    width: 78%;
    padding: 8px 0 0 0;
}

.inlines {
    display: flex;
    margin: 0 -25px;
}

.inlines > div {
    padding: 0 25px;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.contacts_lists_wrapp {
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0;
}

.contacts_list {
    padding: 0;
}

.contacts_list li {
    padding: 3px 0;
}

.contact_thumb {
    display: inline-flex;
}

.contact_thumb > div:nth-child(1) {
    width: 25px;
    min-height: 27px;
}

.contact_thumb > div:nth-child(2) p {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #262728;
    border-bottom: 1px dashed #262728;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contact_thumb:hover > div:nth-child(2) p {
    border-bottom: 1px dashed transparent;
}

.site_title {
    padding-top: 12px;
    text-align: right;
}

.site_title h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #262728;
}

.header_form_sect {
    padding: 8px 0 10px 0;
    background: #5C6D89;
}

.header_form_box {
    text-align: center;
}

.header_form_box h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #FFF;
}

.header_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 0 -10px;
}

.header_form > div {
    padding: 3px 10px;
}

.input_wrapp {
    width: 200px;
    text-align: left;
    position: relative;
}

.input_wrapp label {
    display: block;
    padding: 0 0 4px 0;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    color: #FFF;
    opacity: 0.5;
}

.input_wrapp input {
    padding: 0 10px;
    display: block;
    width: 100%;
    border: none;
    height: 30px;
    background: #F5F6F7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #262728;
}

.input_wrapp input[type='text'] + .eye {
    opacity: .5;
}

.eye {
    width: 12px;
    height: 9px;
    background-image: url(img/eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.password_input {
    position: relative;
}

.password_input .eye {
    position: absolute;
    top: 10px;
    right: 9px;
}

.green_pill {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 80px;
    min-height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background: #7FC388;
    border: none;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, .1);
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
}

.ch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    color: #FFF;
}

.ch input {
    display: block;
    border: none;
    width: 16px;
    height: 16px;
    background: #FFF;
    border-radius: 3px;
}

.ch input:checked {
    background-image: url(img/ch.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.ch span {
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
}

.reg_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px -10px;
}

.reg_links li {
    padding: 0 10px;
}

.reg_links li a {
    border-bottom: 1px solid #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;
    color: #FFF;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.reg_links li a:hover {
    border-bottom: 1px solid transparent;
}

.btn_top {
    display: none;
    width: 50px;
    height: 40px;
    background-color: #5c6d89;
    border-radius: 3px 0 0 3px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    right: 0;
    background-image: url(img/top_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    display: inline-block;
    vertical-align: top;
    color: #262728;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    border-bottom: 1px dashed #262728;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.link:hover {
    border-bottom: 1px dashed transparent;
}

/*-- Header User --*/

.header_templ_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 17px 0 17px 0;
}

.header_templ_2 > div:nth-child(1) {
    width: 234px;
    padding: 11px 5px 0 0;
}

.header_templ_2 > div:nth-child(2) {
    width: calc(30% - 234px);
    padding: 2px 5px;
}

.header_templ_2 > div:nth-child(3) {
    width: 27%;
    padding: 0 5px;
}

.header_templ_2 > div:nth-child(4) {
    width: 43%;
    padding: 0 0 0 5px;
}

.contacts_list_user {
    padding: 12px 0 0 0;
}

.contacts_list_user li {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.contacts_list_user li a {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
    border-bottom: 1px dashed transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.contacts_list_user li a:hover {
    border-bottom: 1px dashed #262728;
}

.right_inlines_user {
    display: flex;
    justify-content: flex-end;
    margin: 0 -7px;
}

.right_inlines_user > div {
    padding: 3px 7px;
}

.price_thumb {
    display: inline-flex;
    align-items: center;
    padding: 13px 10px 13px 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.price_thumb > div:nth-child(1) {
    width: 55px;
}

.price_thumb > div:nth-child(2) {
    width: calc(100% - 55px);
}

.price_thumb .icon_box {
    height: 46px;
    width: 46px;
    border-radius: 3px;
    background-color: #ff4a4a;
    position: relative;
}

.price_thumb.green .icon_box {
    background-color: #7FC388;
}

.price_thumb .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.price_thumb h4 {
    padding-bottom: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.price_thumb p {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #ff4a4a;
    border-bottom: 1px dashed;
}

.price_thumb.green p {
    color: #7FC388;
}

.login_thumb {
    display: inline-flex;
    align-items: center;
    padding: 13px 10px 13px 10px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.login_thumb > div:nth-child(1) {
    display: flex;
    width: calc(100% - 57px);
}

.login_thumb > div:nth-child(2) {
    width: 57px;
    display: flex;
    justify-content: flex-end;
}

.login_thumb > div:nth-child(1) img {
    margin-right: 11px;
}

.login_thumb .icon_box {
    width: 46px;
    height: 46px;
    background: #5C6D89;
    border-radius: 3px;
    position: relative;
}

.login_thumb .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.nav_wrapp {
    background: #5C6D89;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.nav li {

}

.nav li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 13px 34px;
    min-height: 49px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
}

.nav li a.active,
.nav li a:hover {
    background: linear-gradient(#1a2d4b, #52637f);
}

.header_search_sect {
 background-color: #52637f;
}

.header_search {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 0 3px 0;
}

.header_search > div:nth-child(1) {
    width: 170px;
    padding: 0 10px 0 0;
}

.header_search > div:nth-child(2) {
    width: 150px;
    padding: 0 10px 0 10px;
}

.header_search > div:nth-child(3) {
    width: calc(100% - 320px);
    padding: 0 0 0 10px;
}

.custom_select {
    width: 160px;
    height: 30px;
    position: relative;
}

.custom_select input {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.custom_select_title {
    height: 30px;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.custom_select_title:after {
    display: block;
    content: "";
    width: 12px;
    height: 8px;
    background-image: url(img/select_dr.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 4px);
    right: 16px;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.custom_select.active .custom_select_title:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.p_val {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 160px;
    height: 30px;
    background: #FFF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #262728;
}

.custom_dr {
    width: 100%;
    max-height: 232px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: calc(100% - 4px);
    left: -200vw;
    opacity: 0;
    z-index: 3;
    -webkit-filter: drop-shadow(0 5px 25px rgba(0, 0, 0, .1));
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, .1));
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.custom_select.active .custom_dr {
    left: 0;
    opacity: 1;
}

.custom_select_list li {
    border-top: 1px solid #e4e5e6;
    padding: 6px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .02em;
    color: #262728;
    display: block;
    cursor: pointer;
}

.custom_select_list li:hover {
    background: #7fc388;
    color: #fff;
}

.ch_circle {
    margin: 2px 0 0 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.ch_circle input {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.ch_circle input + div {
    display: inline-flex;
}

.ch_circle span:nth-child(1) {
    display: block;
    width: 46px;
    height: 26px;
    background: rgba(255, 255, 255, .2);
    border-radius: 14px;
    position: relative;
    padding: 3px;
}

.ch_circle span:nth-child(2) {
    padding: 6px 0 0 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .02em;
    color: #FFF;
}

.ch_circle span:nth-child(1):before {
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    background: #FFF;
    border-radius: 12px;
}

.ch_circle span:nth-child(1):after {
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background: #7FC388;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    -webkit-transition-property: left, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: left, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: left, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: left, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: left, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.ch_circle input:checked + div span:nth-child(1):after {
    left: 24px;
    background: #fff;
}

.ch_circle input:checked + div span:nth-child(1):before {
    background-color: #7fc388;
}

.search_box {
    display: flex;
}

.search_box > div:nth-child(1) {
    width: calc(100% - 80px);
}

.search_box > div:nth-child(2) {
    width: 80px;
}

.search_box > div:nth-child(1) input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 7px 20px;
    background: #fff;
    border-radius: 3px;
    border: none;
    outline: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 12px 20px;
    color: #262728;
}

.search_box > div:nth-child(2) .green_pill_2 {
    width: 100%;
}

/*-- /Header User --*/


/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main NoReg --*/

.page_title {
    border-bottom: 1px solid rgba(92, 109, 137, .2);
    position: relative;
    margin-bottom: 20px;
    padding: 11px 0 10px 0;
}

.page_title:before {
    display: block;
    content: "";
    width: 100px;
    height: 5px;
    background: #5C6D89;
    position: absolute;
    opacity: .2;
    top: calc(100% + 1px);
    left: 0;
}

.page_title:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    opacity: .2;
    top: calc(100% + 1px);
    left: 100px;
    background-image: url(img/tr.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.contacts_items_wrapp {
    padding: 0 0 38px 0;
}

.contact_item {
    background: #FFF;
    border: 1px solid #E4E5E6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    border-radius: 3px;
}

.contact_item_header {
    background: #5C6D89;
    border: 1px solid #E4E5E6;
    border-radius: 3px 3px 0 0;
    padding: 14px 20px 13px 20px;
}

.contact_item_header h3 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFF;
}

.contact_item_cols {
    display: flex;
    flex-wrap: wrap;
    padding: 9px 20px 9px 20px;
}

.contact_item_cols > div:nth-child(1) {
    width: 33%;
    padding: 10px 15px 10px 0;
}

.contact_item_cols > div:nth-child(2) {
    width: 33%;
    padding: 10px 15px 10px 15px;
}

.contact_item_cols > div:nth-child(3) {
    width: 34%;
    padding: 10px 0 10px 15px;
}

.contact_item_cols .img_box {
    height: 337px;
    border: 1px solid #E4E5E6;
    overflow: hidden;
    position: relative;
}

.contact_item_cols .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.map_box {
    height: 337px;
    border: 1px solid #E4E5E6;
    position: relative;
    overflow: hidden;
}

.map {
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    left: -50px;
    overflow: hidden;
}

.map img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.object_descript h3 {
    padding-top: 20px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

.object_descript h3:nth-child(1) {
    padding-top: 0;
}

.object_descript p {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}

.dr_content {
    display: none;
}

/*-- /Section 1 - Main NoReg --*/

/*-- Section 1 - Suppliers --*/

.supplier_form {
    max-width: 420px;
    padding: 5px 0 10px 0;
}

.input_wrapp_3 {
    padding-bottom: 17px;
}

.input_wrapp_3 label {
    display: block;
    font-size: 16px;
    margin-bottom: .5rem;
}

.input_wrapp_3 input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.input_wrapp_3 textarea {
    display: block;
    width: 100%;
    height: 138px;
    padding: 5px 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.input_wrapp_3 input:focus,
.input_wrapp_3 textarea:focus {
    border: 1px solid #7fc388;
}

.input_wrapp_3 input[type="file"] {
    padding: 0;
}

.ch_2 {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    position: relative;
}

.ch_2 input {
    display: block;
    border: none;
    width: 16px;
    height: 16px;
    background: #FFF;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #E4E5E6;
    position: absolute;
    top: 2px;
    left: 0;
}

.ch_2 input:checked {
    background-image: url(img/ch.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.ch_2 span {
    font-size: 16px;
    margin-bottom: .5rem;
}

.submit_wrapp_3 {
    padding: 20px 0;
}

.input_file_wrapp {
    position: relative;
}

.input_file_wrapp input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.input_file_templ {
    display: flex;
    width: 100%;
    height: 38px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
}

.input_file_templ label {
    display: block;
    width: 150px;
    height: 37px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    background: #f6f6f6;
    cursor: pointer;
}

.input_file_templ p {
    width: calc(100% - 150px);
    padding: 0 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
}

/*-- /Section 1 - Suppliers --*/

/*-- Section 1 - Forgot Password --*/

.forgot_pass_form_title {
    padding: 10px 0 0 0;
}

.forgot_pass_form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.forgot_pass_form > div:nth-child(1) {
    width: 50%;
    padding-right: 20px;
}

.grey_pill {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 80px;
    min-height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background: #6c757d;
    border: none;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, .1);
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
}

.btns_inline {
    display: flex;
}

.btns_inline > div {
    padding: 0 2px;
}

.btns_inline > div input,
.btns_inline > div button,
.btns_inline > div a {
    min-height: 38px;
}

/*-- /Section 1 - Forgot Password --*/

/*-- Section 1 - Register --*/

.reg_form .second {
    display: none;
}

.reg_form_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.reg_form_row > div {
    padding: 10px;
    width: 16.66%;
}

.reg_form_row > div:nth-child(1) {
    width: 25%;
}

.reg_form_row .input_wrapp_3 {
    padding-bottom: 0;
}

.input_wrapp_3 select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-image: url(img/select_arrow.svg);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}

.input_wrapp_3 select:focus {
    border: 1px solid #7fc388;
}

.btns_inline_2 {
    justify-content: center;
    padding: 15px 0 30px 0;
}

/*-- /Section 1 - Register --*/

/*-- Section 1 - Main User --*/

.news_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -15px -5px -15px;
}

.new_thumb {
    display: flex;
/*    width: 610px;*/
    width: calc(33.33% - 30px);
    background: #FFF;
    border: 1px solid #E4E5E6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 15px;
    padding: 29px 29px 27px 29px;
    position: relative;
}

.new_thumb.new:before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(img/new.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.new_thumb > div:nth-child(1) {
    width: 140px;
}

.new_thumb > div:nth-child(2) {
    width: calc(100% - 140px);
}

.new_thumb > div:nth-child(1) .img_box {
    width: 120px;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.new_thumb > div:nth-child(1) .img_box img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.new_thumb h3 {
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.new_thumb p {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.new_thumb p.date {
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.page_title h2 {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #262728;
}

.pagination_wrapp {
    display: flex;
    justify-content: center;
    background: #FFF;
    margin: 18px 0 49px 0;
    padding: 20px;
    border: 1px solid #E4E5E6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    padding: 0 5px;
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #262728;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, background-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, background-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, background-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.pagination li a.active,
.pagination li a:hover {
    background-color: #5C6D89;
    color: #fff;
}

.prev_page {
    margin-right: 20px;
    background-image: url(img/prev_page.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF !important;
}

.next_page {
    margin-left: 20px;
    background-image: url(img/next_page.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFF !important;
}

.page_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    padding: 0 12px;
    background-color: #FFF;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: .02em;
    color: #262728;
}

.first_page {
    margin-right: 25px;
}

.last_page {
    margin-left: 25px;
}

.page_button.noactive {
    opacity: .5;
}

/*-- /Section 1 - Main User --*/

/*-- Section 1 - Article --*/

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    padding: 15px 0;
}

.breadcrumbs li {
    padding: 0 7px;
    position: relative;
}

.breadcrumbs li:after {
    display: block;
    content: ">";
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .02em;
    color: #A8A9AA;
    position: absolute;
    top: 0;
    right: -2px;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .02em;
    color: #A8A9AA;
}

.breadcrumbs li {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .02em;
    color: #262728;
}

.article {
    max-width: 930px;
    margin: 9px auto 50px auto;
    padding: 10px 20px 10px 20px;
    background: #FFF;
    border: 1px solid #E4E5E6;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.article:before,
.article:after {
    display: block;
    content: "";
    width: 100%;
    height: 0;
}

.article p {
    padding: 5px 0;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.article p.date_2 {
    font-size: 10px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #262728;
}

.article h2 {
    padding: 3px 0 5px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #262728;
}

.article img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.article img[style="float: right"] {
    margin: 7px 0 5px 15px;
}

.article img[style="float: left"] {
    margin: 7px 15px 5px 0;
}

/*-- Section 1 - Article --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {

}

.footer_section {
    background: #5C6D89;
    padding: 21px 0 51px 0;
}

.footer_templ {
    display: flex;
    flex-wrap: wrap;
}

.footer_templ > div:nth-child(1) {
    width: 200px;
    padding: 10px 10px 10px 0;
}

.footer_templ > div:nth-child(2) {
    width: calc(100% - 200px);
    padding: 10px 0 10px 10px;
}

.corp p {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFF;
    opacity: .5;
}

.corp p a {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFF;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.corp p a:hover {
    border-bottom: 1px solid #fff;
}

.contacts_list_2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
}

.contacts_list_2 li {
    padding: 0 14px;
}

.contact_thumb_2 > div:nth-child(2) p {
    color: #FFF;
    opacity: .5;
    border-color: #fff;
}

.footer_templ_2 > div:nth-child(1) {
    width: 200px;
    padding: 10px 10px 10px 0;
}

.footer_templ_2 > div:nth-child(2) {
    width: calc(100% - 530px);
    padding: 10px 10px 10px 10px;
}

.footer_templ_2 > div:nth-child(3) {
    width: 330px;
    padding: 10px 0 10px 10px;
}

.footer_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer_nav li {
    padding: 0 15px;
}

.footer_nav li a {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
    opacity: .5;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.footer_nav li a:hover {
    opacity: 1;
}


/*-- Popup --*/

body.fixed {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.popup {
    display: none;
    width: 100%;
    height: 100%;
    padding: 40px 40px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
}

.popup_content {
    width: 280px;
    background: #FFF;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 30px auto;
    padding: 0 10px 10px 10px;
    position: relative;
}

.popup_content .close {
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    background: transparent;
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
}

.popup_title {
    padding: 13px 0 0 0;
    text-align: center;
}

.popup_title h3 {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #262728;
}

.popup_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
}

.input_wrapp_2 {
    margin: 2px 0;
}

.input_wrapp_2 label {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    color: #262728;
}

.input_wrapp_2 input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background: #F5F6F7;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #262728;
}

.input_wrapp_2 input:focus,
.input_wrapp_2 textarea:focus {
    border: 1px solid #7fc388;
}

.input_wrapp_2 textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 5px 10px;
    background: #F5F6F7;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #262728;
}

.error_text {
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.submit_wrapp_2 {
    padding: 8px 0 8px 0;
}

.green_pill_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30px;
    background: #7FC388;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}

.submit_wrapp_2 .green_pill_2 {
    width: 100%;
}

.conf_ch_wrapp {
    padding-bottom: 7px;
}

.conf_ch {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.conf_ch input {
    display: block;
    width: 14px;
    height: 14px;
    background: #F5F6F7;
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
}

.conf_ch input:checked {
    background-image: url(img/ch.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.conf_ch span {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.02em;
    color: #A8A9AA;
}

.error_text {
    display: none;
}

.noactive {
    pointer-events: none;
    opacity: .5;
    cursor: default;
}

.popup_content .contacts_list {
    padding: 20px 20px 0 20px;
}

/*-- /Popup --*/